In [2]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib as mpl
data=  yf.download("AAPL", start="2021-03-01", end="2021-04-01")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['AAPL']: OperationalError('unable to open database file')

In [ ]:
# data=pd.read_csv("C:/Users/yueya/OneDrive - University of Westminster/2023-24/CMF/VOD.L.csv")

In [6]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-09-23,109.059998,109.919998,107.480003,108.120003,97.075310,105623844.0
1,2022-09-26,109.760002,109.900002,105.680000,106.660004,95.764450,122626813.0
2,2022-09-27,107.180000,107.739998,105.558998,105.559998,94.776810,95417607.0
3,2022-09-28,105.540001,105.870003,102.239998,105.120003,94.381767,108745608.0
4,2022-09-29,104.779999,105.419998,101.199997,101.839996,91.436813,99746684.0